*{
	box-sizing: border-box;
}

body {
	display: grid;
	max-width: 60em;
	margin: 0 auto;
}

header{
	display: grid;
	grid-template-columns: 3fr 1fr;
	border-bottom: solid black 0.1em;
}


.main {
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.content {
	display: grid;
	grid-template-rows: 4fr 2fr;
}

.eftirAdal {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.sidebar{
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
}

.siteTitle{
	text-align: center;
	font-size: 1.2em;
	background-color: purple;
}

.skra{
	padding: .5em;
	background-color: cyan;
}

.skra li{
	text-decoration: none;
	list-style-type: none;
	padding: .3em;
}

.skra a{
	text-decoration: none;
}

.adalFrett {
	align-items: center;
	text-align: center;
	background-color: blue;
}

.secondary{
	align-items: center;
	text-align: center;
	background-color: green;
}

.tertiary{
	align-items: center;
	text-align: center;
	background-color: red;
}

.sidebar div{
	align-items: center;
	text-align: center;
	border-bottom: solid black .05em;
	border-top: solid black .05em;
	background-color: yellow;
}

.top{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.topid{
	text-align: center;
	justify-content: center;
	align-items: center;
	border-left: solid black .01em;
	border-right: solid black .01em;
}

.breyta{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	border-bottom: solid black .01em;
	border-top: solid black .01em;
	margin-top: .5em;
}

.breyta input[type=text]{
	width: 70%;
	margin-left: 2em;
	margin-right: .5em;
	margin-top: 1em;
	margin-bottom: .5em;
}
.breyta input[type=submit]{
	margin-bottom: 1em;
}